<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techstore Account Password Reset</title>
</head>
<body>
    <main>
        <div class="main__inner">
            <div class="main__text">
                <div class="main__text__inner">
                    <span class="main__text__greeting">
                        Hello {{ current_user.first_name }}
                    </span>
                    <br>
                    <br>
                    <span class="main__text__intro">
                        Someone (hopefully you), requested to change your {{ site_name }} password.
                    </span>
                    <span class="main__text__body">
                        Please click
                        <a href={{ reset_password_url }} class="main__text__link">here</a>
                        to reset your password.
                    </span>
                    <br>
                    <br>
                    <span class="main_text__disclaimer">
                        If you didn't make this request, please disregard this email.
                    </span>
                    <br>
                    <br>
                    <span>
                        Please note that your password will not change unless you click the link above and create a new one. This link will expire in 24 hours.
                    </span>
                    <br>
                    <br>
                    <span>
                        If you've requested multiple reset emails, please make sure you click the link inside the most recent email.
                    </span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>